* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.left {
  width: calc(270 / 14.4 * 1vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2eae1;
  padding-top: calc(18 / 14.4 * 1vw);
  padding-bottom: calc(31 / 14.4 * 1vw);
  height: 100%;
}

.left > img {
  width: calc(220 / 14.4 * 1vw);
  height: calc(24 / 14.4 * 1vw);
}

.logoPerson {
  display: flex;
  flex-direction: column;
  margin-top: calc(27 / 14.4 * 1vw);
  align-items: center;
}

.logoPerson > img {
  width: calc(128 / 14.4 * 1vw);
  height: calc(128 / 14.4 * 1vw);
  border: none;
  border-radius: 50%;
}

.logoPerson > h1 {
  font-family: Montserrat, sans-serif;
  font-size: calc(17 / 14.4 * 1vw);
  font-weight: 700;
  line-height: calc(21 / 14.4 * 1vw);
  color: #000000;
  margin-top: calc(20 / 14.4 * 1vw);
  margin-bottom: calc(10 / 14.4 * 1vw);
}

.logoPerson > p {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: #feaf00;
}

.navLinks {
  display: flex;
  flex-direction: column;
  gap: calc(148 / 14.4 * 1vw);
  align-items: center;
  margin-top: calc(91 / 14.4 * 1vw);
}

.navLinks > nav {
  display: flex;
  flex-direction: column;
}

.navLinks > nav > a {
  display: flex;
  gap: calc(15 / 14.4 * 1vw);
  align-items: center;
  padding: calc(13 / 14.4 * 1vw) calc(40 / 14.4 * 1vw);
  width: calc(193 / 14.4 * 1vw);
  height: calc(41 / 14.4 * 1vw);
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: #000000;
  transition: all 0.5s ease;
}

.navLinks > nav > a > span {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
}

.navLinks > nav > a:hover {
  background-color: #feaf00;
  border: none;
  border-radius: calc(4 / 14.4 * 1vw);
}

.navLinks > nav > a:first-child > img {
  width: calc(19 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.navLinks > nav > a:nth-child(2) > img {
  width: calc(12 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
}

.navLinks > nav > a:nth-child(3) > img {
  width: calc(20 / 14.4 * 1vw);
  height: calc(16 / 14.4 * 1vw);
}

.navLinks > nav > a:nth-child(4) > img {
  width: calc(15 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.navLinks > nav > a:nth-child(5) > img {
  width: calc(13 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.navLinks > nav > a:nth-child(6) > img {
  width: calc(15 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.navLinks > div > a {
  display: flex;
  gap: calc(23 / 14.4 * 1vw);
  align-items: center;
}

.navLinks > div > a > img {
  width: calc(17 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.navLinks > div > a > span {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: #000000;
}

.right {
  width: calc(1170 / 14.4 * 1vw);
  height: 100vh;
  background-color: #f8f8f8;
}

.rightTop {
  display: flex;
  padding: calc(2 / 14.4 * 1vw) calc(30 / 14.4 * 1vw);
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: calc(60 / 14.4 * 1vw);
}

.rightTop > img {
  width: calc(18 / 14.4 * 1vw);
  height: calc(18 / 14.4 * 1vw);
}

.rightTop > div {
  display: flex;
  gap: calc(27 / 14.4 * 1vw);
  align-items: center;
}

.rightTop > div > form {
  width: calc(212 / 14.4 * 1vw);
  display: flex;
  background-color: white;
  border: calc(1 / 14.4 * 1vw) solid #e5e5e5;
  border-radius: calc(8 / 14.4 * 1vw);
  height: calc(37 / 14.4 * 1vw);
}

.rightTop > div > form > input {
  width: 90%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: calc(8 / 14.4 * 1vw);
  padding: calc(13 / 14.4 * 1vw);
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: #c4c4c4;
}

.rightTop > div > form > input::placeholder {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: #c4c4c4;
}

.login {
  width: calc(100 / 14.4 * 1vw);
  height: calc(37 / 14.4 * 1vw);
  background-color: white;
  border: calc(1 / 14.4 * 1vw) solid #feaf00;
  border-radius: calc(8 / 14.4 * 1vw);
  background-color: #feaf00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: calc(20 / 14.4 * 1vw);
  cursor: pointer;
}

.login > a {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
}

.rightTop > div > form > button:last-child {
  width: 10%;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(8 / 14.4 * 1vw);
  padding-right: calc(13 / 14.4 * 1vw);
}

.rightTop > div > form > button > img {
  width: calc(14 / 14.4 * 1vw);
  height: calc(14 / 14.4 * 1vw);
}

.rightTop > div > img {
  width: calc(17 / 14.4 * 1vw);
  height: calc(20 / 14.4 * 1vw);
}

.rightBottom {
  background-color: #f8f8f8;
}

.rightBottomTop {
  display: flex;
  padding: calc(20 / 14.4 * 1vw) calc(30 / 14.4 * 1vw);
  justify-content: space-between;
  align-items: center;
}

.rightBottomTop > h1 {
  font-family: Montserrat, sans-serif;
  font-size: calc(22 / 14.4 * 1vw);
  font-weight: 700;
  line-height: calc(27 / 14.4 * 1vw);
}

.rightBottomTop > div {
  display: flex;
  gap: calc(30 / 14.4 * 1vw);
  align-items: center;
}

.rightBottomTop > div > button:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
}

.rightBottomTop > div > button > img {
  width: calc(14 / 14.4 * 1vw);
  height: calc(22 / 14.4 * 1vw);
}

.rightBottomTop > div > button:last-child {
  width: calc(199 / 14.4 * 1vw);
  height: calc(44 / 14.4 * 1vw);
  background-color: #feaf00;
  border: none;
  border-radius: calc(4 / 14.4 * 1vw);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.add {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: white;
  transition: all 0.4s ease;
}

.rightBottomTop > div > button:last-child:hover {
  border: calc(2 / 14.4 * 1vw) solid #feaf00;
  border-radius: calc(4 / 14.4 * 1vw);
  background-color: white;
}

.rightBottomTop > div > button:hover .add {
  color: #feaf00;
}

.line {
  width: calc(1110 / 14.4 * 1vw);
  display: flex;
  justify-self: center;
  height: calc(2 / 14.4 * 1vw);
  margin: calc(22 / 14.4 * 1vw) calc(30 / 14.4 * 1vw);
  background-color: #e5e5e5;
}

table {
  padding: calc(0) calc(30 / 14.4 * 1vw) calc(59 / 14.4 * 1vw)
    calc(30 / 14.4 * 1vw);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: calc(22 / 14.4 * 1vw);
}

thead {
  display: flex;
  width: 100%;
  justify-content: center;
}

thead > tr {
  width: 100%;
  display: flex;
  padding-left: calc(139 / 14.4 * 1vw);
  align-items: center;
}

thead > tr > td {
  font-family: Montserrat, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(15 / 14.4 * 1vw);
  color: #acacac;
}

thead > tr > td:nth-child(2) {
  margin-left: calc(121 / 14.4 * 1vw);
}

thead > tr > td:nth-child(3) {
  margin-left: calc(100 / 14.4 * 1vw);
}

thead > tr > td:nth-child(4) {
  margin-left: calc(140 / 14.4 * 1vw);
}

thead > tr > td:nth-child(5) {
  margin-left: calc(125 / 14.4 * 1vw);
}

tbody {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: calc(10 / 14.4 * 1vw);
  height: calc(589 / 14.4 * 1vw);
  padding-bottom: calc(59 / 14.4 * 1vw);
  overflow: scroll;
}

tbody > tr {
  display: flex;
  width: calc(1110 / 14.4 * 1vw);
  height: calc(85 / 14.4 * 1vw);
  padding: calc(15 / 14.4 * 1vw) calc(13 / 14.4 * 1vw);
  background-color: white;
  border: none;
  border-radius: calc(8 / 14.4 * 1vw);
}

tbody > tr > td {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  display: flex;
  align-items: center;
  overflow: scroll;
}

tbody > tr > td:nth-child(2) {
  width: calc(145 / 14.4 * 1vw);
  margin-left: calc(115 / 14.4 * 1vw);
}

tbody > tr > td:nth-child(3) {
  width: calc(85 / 14.4 * 1vw);
  margin-left: calc(-10 / 14.4 * 1vw);
}

tbody > tr > td:nth-child(4) {
  width: calc(131 / 14.4 * 1vw);
  margin-left: calc(91 / 14.4 * 1vw);
}

tbody > tr > td:nth-child(5) {
  width: calc(89 / 14.4 * 1vw);
  margin-left: calc(85 / 14.4 * 1vw);
}

tbody > tr > td:first-child {
  display: flex;
  gap: calc(31 / 14.4 * 1vw);
  align-items: center;
  width: calc(135 / 14.4 * 1vw);
}

tbody > tr > td:first-child > img {
  width: calc(65 / 14.4 * 1vw);
  height: calc(55 / 14.4 * 1vw);
  border: none;
  border-radius: calc(8 / 14.4 * 1vw);
}

tbody > tr > td:first-child > span {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  display: flex;
  align-items: center;
}

tbody > tr > td:last-child {
  display: flex;
  gap: calc(33 / 14.4 * 1vw);
  align-items: center;
  margin-left: calc(134 / 14.4 * 1vw);
}

tbody > tr > td:last-child > button {
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
}

tbody > tr > td:last-child > button:first-child > img {
  width: calc(19 / 14.4 * 1vw);
  height: calc(19 / 14.4 * 1vw);
}

tbody > tr > td:last-child > button:last-child > img {
  width: calc(16 / 14.4 * 1vw);
  height: calc(18 / 14.4 * 1vw);
}

.homePage {
  display: flex;
  gap: calc(30 / 14.4 * 1vw);
  background-color: white;
  justify-content: center;
  height: max-content;
}

.homePage > div {
  width: calc(255 / 14.4 * 1vw);
  height: calc(157 / 14.4 * 1vw);
  padding: calc(20 / 14.4 * 1vw);
  border: none;
  border-radius: calc(8 / 14.4 * 1vw);
  display: flex;
  flex-direction: column;
}

.homePage > div:first-child {
  background-color: #f0f9ff;
}

.homePage > div:nth-child(2) {
  background-color: #fef6fb;
}

.homePage > div:nth-child(3) {
  background-color: #fefbec;
}

.homePage > div:nth-child(4) {
  background: linear-gradient(110.42deg, #feaf00 18.27%, #f8d442 91.84%);
}

.white {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: calc(30 / 14.4 * 1vw);
}

.homePage > div:first-child > img {
  width: calc(48 / 14.4 * 1vw);
  height: calc(38 / 14.4 * 1vw);
}

.homePage > div > p {
  font-family: Montserrat, sans-serif;
  font-size: calc(14 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(17 / 14.4 * 1vw);
  color: #6c6c6c;
  margin-top: calc(15 / 14.4 * 1vw);
}

.homePage > div:nth-child(2) > img {
  width: calc(28 / 14.4 * 1vw);
  height: calc(35 / 14.4 * 1vw);
}

.homePage > div:nth-child(3) > img {
  width: calc(35 / 14.4 * 1vw);
  height: calc(40 / 14.4 * 1vw);
}

.homePage > div:last-child > img {
  width: calc(34 / 14.4 * 1vw);
  height: calc(34 / 14.4 * 1vw);
}

.homePage > div > h1 {
  font-family: Montserrat, sans-serif;
  font-size: calc(17 / 14.4 * 1vw);
  font-weight: 700;
  line-height: calc(21 / 14.4 * 1vw);
  color: black;
  margin-top: calc(20 / 14.4 * 1vw);
}
